body{ 
    font:Timesnewroman, Sans-Serif;
    background-color:rgb(114, 216, 114);
    color:green;
    text-align: center;
    color:white;
    font-size: 20px; 
      
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: sticky; 
    
  }


  li a {
    display: block;
    color: white;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:rgba(255, 255, 255, 0.25);
  } 
 