body{

    font-family:Arial;
    color:white;font-weight:bold;font-style:normal;font-variant:small-caps;text-align:center;
    }
    p{color:#00f;}
    .big{font-family:Arial,Helvetica,sans-serif;color:white;font-weight:bold;} 
    .small{font-family:Arial,Helvetica,sans-serif;color:#00f;}     .sub{font-family:"Courier New", Courier, monospace} 
    .sup{font-family:"Courier New", Courier, monospace}