<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel='shortcut icon' href="/favicon/icon.png" type='image/png'/>
        <title>Nimrod</title>

        <!-- Load external CSS styles -->
        <!--<link rel="stylesheet" href="file:///Users/anthony/Documents/py-1/css/style.css">-->
        <style> 
        body{ 
    font:Timesnewroman, Sans-Serif;
    background-color:rgb(114, 216, 114);
    color:green;
    text-align: center;
    color:white;
    font-size: 20px; 
      
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: sticky; 
    
  }


  li a {
    color: white;
    text-decoration: none;
    font-size:40px;
    margin:15px;
    padding:0px;
  }
  
  li a:hover {
    background-color:rgba(255, 255, 255, 0.25);
  } 
 </style>

        <!-- Load external JavaScript -->
        <script src="scripts.js"></script>
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="pricing.html">Pricing</a></li>
  <li><a href="contact.html">Contact Us</a></li>
  <li><a href="mission.html">Our Mission</a></li>
</ul>
<h1> Our Mission </h1> 

<p> Is your website slow, hard to use, and driving your customers/clients away? Then you should use Nimrod. <br> Nimrod is a website that will help you and your small business by helping/assisting you build your own website that will surely be much faster, easier to use, and more efficient. <br>Nimrod will surely help build your small business turn into a thriving Large business. <br> The use of our software will be so easy to use that all you need to do is describe what kind of website you want in great detail, and our software will do the rest. <br> That's how easy to use Nimrod is, and the reason why we created Nimrod.</p> <p>  Contact us if your ever tired of your own website, or if you just need a website because your thinking of making your own small business. </p>
    